{% extends '/landerpage/index.html.twig' %}

{% block title %}RR NEGOCIOS INMOBILIARIOS
{% endblock %}

{% block contenidolander %}

	<style>

		@font-face {
			font-family: 'Comfortaa';
			src: url('/img/Comfortaa-Regular.ttf') format('truetype');
		}

		.font-title-1 {
			font-family: 'Comfortaa', sans-serif;
			font-weight: 700; /* Peso negrita */
			font-style: normal;
			font-size: 1em; /* Tamaño de fuente */
			letter-spacing: 0.1em
		}
		.font-confortan {

			background-image: url('/img/RRe.png');
			background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
			background-position: center; /* Centra la imagen */
			background-repeat: no-repeat; /* Evita que la imagen se repita */

			font-family: 'Confortaa', sans-serif;
			font-weight: 400; /* Peso normal */
			font-style: normal;
			font-size: 2em; /* Tamaño de fuente */
			letter-spacing: 0.1em;

			line-height: 1.5;
			text-align: center;
			margin: 0 auto;
			padding: 20px;
			background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
			max-width: 600px; /* Ancho máximo para el texto */
			transition: transform 0.3s ease, background-color 0.3s ease;

		}
		.contorno-real {
	
			-webkit-text-stroke: 0.5px white;
		}
		a {
			text-decoration: none; /* Sin subrayado */
			
			color: rgba(61, 63, 150, 1);/* Color del texto */
		}
		.font-confortan:hover {
			transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
			background-color: rgba(255, 255, 255, 1); /* Fondo opaco al pasar el mouse */
		}
	</style>
	<!-- Contenido principal -->
	<div class="content-wrapper">
		<div class="row align-items-center justify-content-center  m-5">
			<div class="col-12 text-center">
				<p class="text-uppercase font-title-1">
					Estas a un paso de
				</p>
				<p class="text-uppercase fw-bold">
					¡una vivienda a tu alcance!
				</p>
			</div>
			<section class="gallery-section-fix col-sm-5">
				<div class="font-confortan contorno-real">
					<a href="{{ path("app_buscar_arrendo") }}">
						Arriendos
					</a>
				</div>
			</section>
			<section class="gallery-section-fix col-sm-5">
				<div class="font-confortan  contorno-real">
					<a href="{{ path("app_buscar_ventas") }}">
						Ventas
					</a>
				</div>
			</section>

			{% if app.user %}
				<section class="gallery-section-fix col-sm-5">
					<div class="font-confortan">
						<a href="{{ path("app_dashboard") }}" class=" text-decoration-none fw-bold">
							agregar inmueble
						</a>
					</div>
				</section>
			{% endif %}
		</div>
	{% endblock %}
