{% extends 'base.html.twig' %}

{% block title %}RR NEGOCIOS INMOBILIARIOS
{% endblock %}

{% block body %}
	<style>
		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		body {
			background-image: url('/img/fondo.jpeg');
			background-attachment: fixed;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		.content-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh; /* Ocupa toda la altura de la ventana */

		}
	</style>

	<!-- Contenido principal -->
	<div class="content-wrapper">
		<img src="/img/logo.png" alt="Imagen única" class="img-fluid w-75 mb-4">
		<h6 class=" mb-4 mt-4 text-white text-uppercase">
			Click para continuar
		</h6>
	</div>

	<!-- Fin del contenido principal -->
	<script>
		// disparar el evento click cuando se toque el body
document.body.addEventListener('click', function () { // Redirigir a la URL deseada
window.location.href = "{{ path('app_buscar') }}";
});
	</script>
{% endblock %}
