{% extends '/landerpage/index.html.twig' %}

{% block title %}RR NEGOCIOS INMOBILIARIOS
{% endblock %}

{% block contenidolander %}


	<!-- Contenido principal -->
	<div class="content-wrapper ">
		<section class="gallery-section">
			<div class="container text-center"></div>
		</section>

	</div>
{% endblock %}
